body{
    font-family: 'Montserrat', sans-serif;
}

nav{
    font-size: 15px; 
}

.img{
    width: 70px; 
    margin: 0; 
}

.new-tag{
    font-size: 9px; 
    margin-left: 2px; 
    text-transform: capitalize;
    font-weight: bold;
    vertical-align: top;
}

.active-link{
    border-bottom: 2px solid white; 
}

.nav-items{
    font-size: 13px; 
}

.form-container{
    height: 400px;
    background: url('https://st.redbus.in/images/SearchBus/Web-banner%20%281%29.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.input-fld{
    padding: 10px 15px;
    border-radius: 0;  
    font-size: 14px; 
    font-weight: normal;
    box-shadow: none !important;  
    outline: black; 
}

.btn-square{
    border-radius: 0; 
    font-size: 15px; 
    font-weight: bold;
    padding: 8px 15px; 
    width: 100%; 
}